header{
    background-color:#1E2A52;
    align-items: center;
    display: flex;
    color: white;
    padding: 18px 0%;
    width: 100vw;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
}

.bgLogo{
    width: 60%;
    object-fit: cover;
    margin-bottom: 0;
}

.logoText{
    font-family: 'Homemade Apple', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
    white-space: nowrap;
}

.logoContainer{
    width: 15%;
    margin-left: 48px;
}

li, button{
    display: inline-block;
}

.profileIcon{
    color:#4776E6;
    display: inline-block;
    width: 40px;
    height: 100%;
    margin: 0 24px;
}

.profileIcon :hover{
    color: #A9B4C2;
}

.navLinks{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.link a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    position: relative;
}

.navLinks a:hover{
    color: #A9B4C2;
}

.logOutBtn{
    font-size: 20px;
    display: inline-block;
    border-radius: 16px;
    border: none;
    background-color:#4776E6;
    color: white;
    width: 100%;
    padding: 10px 0;
}

.buttonLinks{
    width: 25%;
    display: flex;
    align-items: center;
    margin-right: 48px;
}

.buttonLinks button:hover{
    color: #A9B4C2;
}

.bgLogoMobile, .navToggle{
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 768px){
    .logoContainer{width:10%;}
    .bgLogo{width: 100%;}
    .link a, .logOutBtn{font-size:16px;margin:0 8px;}
}

@media only screen and (max-device-width: 667px){
    header{padding: 8px 0%;}
    .link a, .logOutBtn, .profileIcon{display: none;}
    .logoContainer{width:80%;display:flex;align-items:center;}
    .logoText{font-size:4vw;display: inline-block;}
    .bgLogoMobile{height:24px;display: inline-block;margin-right:8px;height:6vw;}
    .bgLogo{display: none;}
    .navToggle{display: inline-block; width:10%; float:right;margin-right:24px;}
    .hamburgerIcon{height:100%;}
}