header{
    background-color:#1E2A52;
    align-items: center;
    display: flex;
    color: white;
    padding: 18px 0%;
    width: 100vw;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    position: sticky;
    top: 0;
    left: 0;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
}

.bgLogo{
    width: 60%;
    object-fit: cover;
    margin-bottom: 0;
}

.logoText{
    font-family: 'Homemade Apple', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
    white-space: nowrap;
}

.logoContainer{
    width: 15%;
    margin-left: 48px;
}

li, button{
    display: inline-block;
}

.profileIcon{
    color:#4776E6;
    display: inline-block;
    width: 40px;
    height: 100%;
    margin: 0 24px;
}

.navLinks{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.link a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    position: relative;
}

.navLinks a:hover{
    color: #A9B4C2;
}

.logOutBtn{
    font-size: 20px;
    display: inline-block;
    border-radius: 16px;
    border: none;
    background-color:#4776E6;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
}

.buttonLinks{
    width: 25%;
    display: flex;
    align-items: center;
    margin-right: 48px;
    justify-content: flex-end;
}

.profileIcon:hover{
    color:#fff;
}

.logOutBtn:hover{
    background-color: #fff;
    color:#1E2A52;
}

.bgLogoMobile, .navToggle{
    display: none;
}

.mobileLink{
    display: none;
}

.moblink a, .moblink button{
    text-decoration: none;
    color: #fff;
    background-color: #1E2A52;
    border: none;
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 768px){
    .logoContainer{width:10%;}
    .bgLogo{width: 100%;}
    .link a, .logOutBtn{font-size:16px;margin:0 8px;}
    .profileIcon{width:30px;}
    .logOutBtn{padding:10px 14px;}
}

@media only screen and (max-device-width: 667px){
    header{padding: 8px 0%;}
    .logOutBtn, .profileIcon, .navLinks ul{display: none;}
    .logoContainer{width:80%;display:flex;align-items:center;margin-left:24px;}
    .logoText{font-size:4vw;display: inline-block;}
    .bgLogoMobile{height:24px;display: inline-block;margin-right:8px;height:6vw;}
    .bgLogo{display: none;}
    .navToggle{display: inline-block; width:10%; float:right;margin-right:24px;}
    .hamburgerIcon{height:100%;}
    .mobileLink{position: absolute; top:45px;background-color: #1E2A52;width: 100vw;}
    .moblink{display: block; margin: 24px 0;}
}

/* CUSTOM NAVBAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow:  0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #969696; 
  }