.text{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 48px;
    margin-left: 48px;
}
.johndoe{
    color:#1E2A52;
    font-size: 40px;
}
.help{
    color:#1E2A52;
    font-size: 20px;
}
.needsignature{
    color:#A9B4C2;
    font-size: 20px;
}

.table1{
    width: 90vw;
    height: 3vw;
    border: 1px solid;
    color:#1E2A52;
    border-radius: 5px;
}
.td1{
    width: 70vw;
    border-radius: 5px;
}
.td2, .td3{
    width:5%;
    text-align: center;
}

.ptd1{
    color:#1E2A52;
    font-size: 16px;
    padding-left: 20px;
}

.ptd2, .ptd3{
    color:#1E2A52;
    font-size: 22px;
    /* padding-right: 24px; */
}

.table2{
    width: 90vw;
}
.td4, .td5{
    height: 3vw;
    border: 1px solid;
    color:#1E2A52;
    border-radius: 5px;
}
.blanktd{
    width: 1vw;
    height: 3vw;
}
.clickable button{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    color:#1E2A52;
    background-color: transparent;
    border:none;
}