/* SIGN UP FORM */
.formIcon{
    width: 14px;
}

#signUp{
    display: flex;
}

.formTitle{
    text-align: center;
    font-size: 36px;
    margin-bottom: 8px;
}

.formSubtitle{
    text-align: center;
    margin-top: 0;
}

.formContainer{
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  -15px); opacity: 0;}
    100%   { transform: translate(0, 0); opacity: 1;}   
}

.formContainer{
    width: 100%; 
    /* height: 100%; */
    margin: 48px 0;
    display: none;  
    justify-content: center;
}

.formContainer form{
    color: #1E2A52;
    position: relative;
    border-radius: 16px;
    padding: 2%;
    background-color: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer small{
    color: #B20D30;
    margin: 0 24px;
    visibility:hidden;
    font-weight: bold;
}

.formContent{
    width: 80%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.textInput{
    border: none;
    margin-left: 12px;
    background-color: #e6e6e6;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding:2%;

}

.textInput:focus{
    border-style: none;
}

.inputContainer{
    border: #bcbcbc solid 3px;
    padding: 0 24px;
    border-radius: 16px;
    background-color: #e6e6e6;
    margin: 12px 12px 0 12px;
}

.signUpSubmit, .signInSubmit{
    background-color: #B20D30;
    color: #fff;
    border: none;
    padding: 3%;
    width: 90%;
    margin: 24px 5% 24px 5%;
    border-radius: 16px;
    float: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.submitWrapper{
    width: 100%;
}

.tncLabel{
    text-align: center;
    margin-top: 12px;

}

.tnc{
    font-weight: bold;
    color:#1E2A52;

}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(21.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-right: 24  px;
}

.closeBtn{
    float: right;
    color: #1E2A52;
    margin: 12px;
    cursor: pointer;
    font-size: 24px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.closeBtn:hover{
    color: #d3d3d3;
}

.selectWrapper{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border: #bcbcbc solid 3px;
    width: 100%;
    padding: 2%;
    border-radius: 16px;
    margin: 24px 0 0 0;
    justify-content: center;
    display: block;
}

/* BASIC STYLES */
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.appleFont{
    font-family: 'Homemade Apple', cursive;
    margin-left: 24px;
}

.underlineText{
    text-decoration: underline;
    cursor: pointer;
}

.underlineText:hover{
    color: #d3d3d3;
}

.hiddenDesktop{
    display: none;
}

/* OVERLAY IMAGE */

.landingSection{
    height:100vh;
    width: 100vw;
}

.overlay{
    z-index: -2;
    background: linear-gradient(90deg, rgba(30,42,82,1) 15%, rgba(0, 0, 0, 0.3) 100%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.bgImg{
    height: 100vh;
    width:100vw;
    object-fit: cover;
    z-index: -3;
    position: absolute;
    left: 0;
    top: 0;
}

.logo{
    margin-left: 48px;
    max-width: 100vw;
    display: block;
}

.sectionTitle, .sectionSubtitle, .signInText {
    margin: 0 0 0 48px;
    display: block;
    width: 100%;
}

.sectionSubtitle{
    font-size: 24px;
}

.visibleContainer, .toggleContainer{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    margin:0;
}

.toggleContainer{
    right: 0;
}

.visibleContainerContent{
    margin: 0 24px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
}

.signUpBtn{
    background-color: #fff;
    border-radius: 16px;
    color: #1E2A52;
    padding: 24px;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 24px 0 24px 48px;
}

.signUpBtn:hover{
    color: #fff;
    background-color: #727ea4;
}

.signUpBtn:active{
    transform: translateY(3px);
}

.signInText{
    font-size: 18px;
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 667px){
    .visibleContainer, .toggleContainer{width: 100vw;}
    .visibleContainerContent{margin:0;justify-content: center;}
    .logo, .sectionTitle, .sectionSubtitle {margin-left: 0; max-width: 80vw;}
    .sectionSubtitle, .signInText, .signUpSubmit{font-size: 16px;}
    .tncLabel{font-size: 12px;}
    .signUpBtn{font-size:14px;width:80vw;margin-left: 0;}
    .formTitle{font-size: 20px;}
    .hiddenDesktop{display: inline;}
}

@media only screen and (max-device-width: 768px){
    .formTitle{font-size:24px;}
    .formSubtitle, .tncLabel{font-size:14px;}
    .hiddenDesktop{display: inline;}
}