.body{
    align-items: center;
    background-color: #A9B4C2;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    width: 100%;
    background-color: #A9B4C2;
    display: flex;
}

.container .leftSide{
    width: 30%;
    min-height: 100vh;
    background-color:#1E2A52;
    border-right: 2px solid black;
}

.container .rightSide{
    width: 70%;
    min-height: 100vh;
    background-color:#A9B4C2;
}

.topLeftContainer{
    width: 100%;
    height: 90px;
    padding-bottom: 25px;
}

.chats{
    width: 100%;
    text-align: center;
    font-size: 20pt;
    letter-spacing: 5px;
    margin: 0;
    padding-top: 38px;
    padding-bottom: 20px;
}

.hr1{
    margin: 14px;
}

.bottomLeftContainer{
    width: 100%;
    height: 90px;
    height: 81vh;
}
