.profile{
    text-align: center;
    color: #1E2A52;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 48px;
}

.userPic{
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    margin-top: 50px;
}

#profileName, #editNameBtn{
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 0;
}

#profileName{
    float: center;
}

#editNameBtn{
    font-size: 24px;
    cursor: pointer;
}

#editNameBtn:hover{
    color:#A9B4C2;
}

#profileUserType{
    margin-top: 0;
}

#displayOnlyInfo,#editableInfo{
    box-sizing: border-box;
    color: #1E2A52;
    margin: 24px 100px;
}

#editableInfo{
    display: none;
}

.col-6{
    float: left;
    width: calc(50% - 48px);
    margin: 0 24px;
}

.col-12{
    float: left;
    width: 100%;
    margin: 0 24px;
}

.editBtnWrapper, .saveBtnWrapper{
    display: flex;
    justify-content: center;
    margin: 48px 0;
}

.displaySection{
    border-bottom: rgba(30, 42, 82, 0.5) solid 2px;
}

.formCategory{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.displayCategory{
    margin: 8px auto;
    font-size: 18px;
}

#editBtn, #saveBtn{
    padding: 16px 20%;
    border-radius: 12px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    color:#1E2A52;
    background-color: #A9B4C2;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#editBtn:hover, #saveBtn:hover{
    background-color: rgb(131, 129, 129);
    color:#fff;   
}

/* CUSTOM DROPDOWN */
*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

.select {
    width: 100%;
    border-bottom: none;
    font-size: 18px;
    margin: 8px auto;
    cursor: pointer;
}

input{
    border:none;
    font-size: 18px;
    color:#1E2A52;
    height:fit-content;
    width: 100%;
    border-bottom: rgba(30, 42, 82, 0.5) solid 2px;
    font-family: 'Source Sans Pro', sans-serif;
}

.inputWrapper{
    margin: 18px auto;
    overflow: hidden;
}


/* MEDIA QUERIES */
@media only screen and (max-device-width: 667px){
    .col-sm-12{width:100%;float:left;margin:0;}
    #displayOnlyInfo, #editableInfo{margin:0 24px;}
}