.all{
    overflow-x: hidden;
}

.fileinfo{
    margin: 40px 48px 0 48px;
    box-sizing: border-box;
    color:#1E2A52;
}

.sectionTitle{
    margin: 48px 0 0 48px;
    padding:0;
}

.sectionSubtitle{
    margin-top:0px;
    margin-left: 48px;
    padding:0;
    font-weight: normal;
}

.col-6{
    float: left;
    width: calc(50% - 48px);
    margin: 0 24px;
}

.col-12{
    float: left;
    width: 100%;
    margin: 0 24px;
}

.signtable{
    width:70vw;
    height:3vw;
    border:none;
    color:#1E2A52;
}
.blankgap{
    width:5vw;
    height:3vw;
}

.generatesignaturebutton{
    display: block;
    border-radius: 16px;
    border: none;
    background-color:#1E2A52;
    color: white;
    width: calc(100% - 24px); 
    padding: 12px;
    font-size: 20px;  
    margin: 48px 0;
    cursor: pointer;
}

.generatesignaturebutton:hover{
    background-color: #A9B4C2;
    color: #1E2A52;
}

.spacing{
    border-color: #A9B4C2;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

input{
    width:100%;
    border:none;
}

.middleContainerr{
    display: flex;
    width: 100%;
}

.docContainer{
    float: left;
    margin: 48px 0px 0 80px;
    width: 40%;
}

.leftUploadDoc{
    width: 100%;
    border:#1E2A52 solid;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    box-sizing: border-box;
}

.leftUploadDoc .leftWrapper{
    width: 50%;
}

.leftUploadDoc  .rightWrapper{
    width: 50%;
}

.rightUploadSign .leftWrapper{
    width: 50%;
}

.rightUploadSign  .rightWrapper{
    width: 50%;
}

.signContainer{
    float: right;
    width: 40%;
    margin-top: 48px;
    margin-right: 80px;
}

.rightUploadSign{
    width: 100%;
    border:#1E2A52 solid;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    box-sizing: border-box;
}

.removeSignLabel, .removeDocLabel{
    display: inline-block;
}

.cancelDocClass{
    color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    padding: 0 16px;
    cursor: pointer;
    float: right;
}

.cancelSignClass{
    width: 50%;
    color: #B20D30;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    padding: 0 16px;
    cursor: pointer;
    float: right;
}

.cancelDocClass p, .cancelSignClass p{
    margin-right: 8px;
    font-weight: bold;
}

.customSpacing{
    border-color: #A9B4C2;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.stampX, .stampY{
    width: 46%;
}

.stampX{
    float: left;
}

.stampY{
    float: right;
}

/* MEDIA QUERIES */
@media only screen and (max-device-width: 667px){
    .col-sm-12{width:100%;float:left;margin:0;}
    .leftUploadDoc, .rightUploadSign{display: flex;align-items: center;justify-content: space-between;padding:0 16px;}
}