.signtable{
    width:70vw;
    height:3vw;
    border:none;
    color:#1E2A52;
}
.blankgap{
    width:5vw;
    height:3vw;
}

.filenametext{
    color:#1E2A52;
    padding-left: 10px;
}
.cancelbutton{
    margin-left: 715px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color:#B20D30;
    color: white;
    width: 15vw;
    height: 2.2vw;
}

.homebuttons{
    border: none;
    background-color: white;
}

.generatesignaturebutton{
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color:#1E2A52;
    color: white;
    width: 90vw;
    height: 3vw;
}

hr{
    border-color: #A9B4C2;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

input{
    width:100%;
    border:none;
}